<div *ngIf="ingreso == true; else log">
<router-outlet></router-outlet>
</div>
<ng-template #log>
<div id="back">
</div>
<div id="back_nuevo">
    <div id="login">
        <div id="fondo">
            <div *ngIf="ingresar == true; else registro">
            <app-login (cambiar)="cambiarEstado($event)" (log)="ingreso_login($event)"></app-login>
            </div>
            <ng-template #registro>
            <app-registro (ingresar)="cambiarEstado($event)"></app-registro>
            </ng-template>
        </div>
    </div>
</div>
</ng-template>