<div class="input-group">
  <span class="input-group-addon fa fa-user" id="basic-addon1"></span>
  <input type="email" class="form-control" name="usuario" ng-model #usuario placeholder="Username" aria-describedby="emailHelp">
</div>
<br>
<div class="input-group">
  <span class="input-group-addon fa fa-lock" id="basic-addon1"></span>
  <input type="password" class="form-control" name="clave" ng-model #clave placeholder="Clave" aria-describedby="basic-addon1">
</div>
 <div id="botones">
      <button (click)="login(usuario.value, clave.value)" type="button" class="btn btn-success">Login</button>
      <button (click)="enviarEstado()" type="button" class="btn btn-primary">Registro</button>
  </div>
