<br>
<div class="form-group row">
  <label for="example-text-input" class="col-4 col-form-label">Nombre</label>
  <div class="col-8">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>


<div class="form-group row">
  <label for="example-text-input" class="col-4 col-form-label">Disco</label>
  <div class="col-8">
  <select class="form-control" id="exampleSelect1">
      <option>Disco</option>
        <option *ngFor="let disco of discos"[value]='disco.ID_DISCO'>{{disco.NOM_DISCO}}</option>
    </select>
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-4 col-form-label">Genero</label>
  <div class="col-8">
  <select class="form-control" id="exampleSelect1">
      <option>Genero</option>
        <option *ngFor="let genero of generos"[value]='genero.ID_GENERO'>{{genero.NOM_GENERO}}</option>
    </select>
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-4 col-form-label">URL</label>
  <div class="col-8">
   <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted"></small>
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-4 col-form-label">Observaciones</label>
  <div class="col-8">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>

 <div id="botones">
      <button type="button" class="btn btn-success">Agregar</button>
  </div>


